@import "src/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title {
  color: $primary_green;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.controllersWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.countBlock {
  padding: 0 6px;
  border-radius: 4px;
  border: 1px solid $steel-blue;
}

.count {
  color: $dim-gray;
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
}